@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
} 

:root {
    --orange-color: #FDB813;
    --blue-color: #1D4E89;
    --brown-color: #99621E;
    --green-color: #5B9279;
    --black-color: #001011;
    --red-color: #A4243B;
}

body {
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

section {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-btn {
    color: #fff;
    background-color: var(--black-color);
    max-width: 90px !important;
    margin-bottom: 2px !important;
    border-radius: 0px !important;
    border-right: solid 1px #fff;
    opacity: .3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.active {
    background-color: var(--orange-color);
    color: var(--black-color);
    opacity: 1;
}

li {
    list-style-type: none;
    width: 100%;
}

label {
    display: block;
    font-size: 12px;
    font-weight: normal !important;
}

#top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

#history-section {
    height: 100vh;
}

#fa-calendar-alt {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: var(--blue-color);
}

#fa-sun {
    color: var(--orange-color);
}

#food-list {
    padding: 0;
}

#food-list li {
    text-align: start;
}

.edit-item {
    color: var(--black-color);
}

.orange {
    color: var(--orange-color) !important;
}


/* GRID STYLES */

.row {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.col-twelve {
    grid-column: col-start / span 12;
}

.col-six {
    grid-column: col-start / span 6;
}

/* GRID STYLES */

.secondary-content {
    float: right;
    color: var(--secondary-color);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    margin: 20px 0px;
    padding: 5px;
    width: 100px;
    border-radius: 4px;
}

.btn-wrapper {
    display: flex;
}

.btn-icons {
    margin-right: 5px !important;
}

#add-meal-btn, 
#enter-reps-btn,
#enter-steps-btn {
    background-color: var(--blue-color);
}

#update-btn { 
    background-color: var(--brown-color);
    margin-right: 5px;
}

#delete-btn {
    background-color: var(--red-color);
}

#back-btn {
    background-color: var(--orange-color);
    margin-left: auto;
}


.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
}

.card-content {
    padding: 10px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 16px;
    text-align: left;
}

.input-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-field {
    width: 50%;
    text-align: left;
}

.input-field input {
    border: none;
    border-bottom: solid 1.5px;
    font-size: 16px;
    width: 70%;
    margin-top: 20px;
}

.input-field input:focus {
    outline: none;
    border-bottom: solid 1.5px var(--orange-color);
}

.history-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 20px;
    font-size: 14px;
    width: 90%;
}

.history-grid .card {
    cursor: pointer;
    padding: 2px;
    line-height: 15px;
    background-color: var(--blue-color);
    color: #fff;
    letter-spacing: 1px;
    width: 100%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

