@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    text-align: center;
}

a {
    text-decoration: none;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.col-six {
    grid-column: col-start / span 6;
}

.col-twelve {
    grid-column: col-start / span 12;
}

#fa-calendar-alt {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: #2F4858;
}

#fa-sun {
    color: #ff8149;
}


.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 80%;
}

.card-content {
    padding: 20px;
}

.card-title {
    margin-bottom: 12px;
    font-size: 24px;
}

.input-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.input-field input {
    border: none;
    border-bottom: solid 1.5px #2F4858;
    padding: 5px;
    font-size: 20px;
}

.input-field input:focus {
    outline: none;
}

.input-field label {
    display: block;
    text-align: start;
    text-indent: 8px;
    font-size: 14px;
    font-weight: normal !important;
    margin: 10px 0px;
}


